*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(11,11,10);
    background: linear-gradient(77deg, rgba(11,11,10,1) 0%, rgba(21,21,19,1) 77%); 
}

.container {
    max-width: 1024px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.card {
    display: inline-flex;
    width: 700px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}

.image {
    width: 300px;
    aspect-ratio: 3/2;
}

.game-desc {
    display: inline-grid;
    align-content: space-between;
    width: 100%;
    padding: 10px;
    color: #f2f2f2;
}

.button {
    height: 42px;
    border-radius: 8px;
    background-color: blueviolet;
}

